
<!--
<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" id="list">
                        List View
                    </button>
                    <button class="btn btn-danger" id="grid">
                        Grid View
                    </button>
                </div>
            </div>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div id="products" class="row view-group">
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid" src="{{image}}" alt="" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        {{name}}</h4>
                    <p class="group inner list-group-item-text">
                        {{description}}.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                {{rate}} Rate:</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                Category: {{category}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" <a href="/animes/{{_id}}">More info</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
-->
  <div class="container">
    <div class="row">
        <hr>
    </div><!--.row -->
</div><!--./container -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>{{name}}</h4>
            <p>
                
            </p><img src="{{image}}" class="img-responsive center-block" alt="anime img">
            {{description}}
            <p>
                <small>Rate: {{rate}}</a><br>
                Category: {{category}}</small>
            </p>
            
        </div><!--.col -->
        
        <div class="col-md-8">
            <div class="vid">
                <iframe width="560" height="315" src="//www.youtube.com/embed/ac7KhViaVqc" allowfullscreen=""></iframe>
            </div><!--./vid -->
            
        </div><!--.col -->
        
    </div><!--./row -->
    
</div><!--./container -->