
{{>animeEdit}}
<div>
    <h1>Anime:  {{name}}</h1>
    <img src="{{image}}">
    <h3>Category :</h3> <p>{{category}}</p>
    <h3>Rate :</h3><p>{{rate}}</p>
    <h3>Description :</h3><p>{{description}}</p>
    
</div>
